form {
    display: flex;
    flex-direction: column;
    width: 20vw;
}

input {
    margin-bottom: 2rem;
}

button {
    width: 5vw;
    padding: 1em;
    margin: auto;
}

#submit-form-btn {
    margin-top: 2rem;
}