body {
    position: relative;
    background-color: plum;
}

#loadingActivator {
    font-size: 50px;
    width: 400px;
    height: 200px;
    position: absolute;
    top: 40vh;
    left: calc(50% - 200px);
    padding: 10px 30px;
    background-color: pink;
    border: none;
    cursor: pointer;
    color: purple;
}

.loadingNone {
    display: none;
}

.textLoading {
    font-family: monospace;
    font-size: 100px;
    position: fixed;
    top: 40vh;
    left: 40vw;
    display: none;
    color: purple;
}

